.portfolio-section {
  padding: 20px;
  background-color: #eaeaea; /* Background color to show through the space */
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 1in; /* Space between articles - about an inch */
  background-color: transparent; /* Ensure the background color of the section shows through */
}

.article {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
}

.article-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.article-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.article-text {
  flex: 1;
  padding-right: 20px;
}

.article-text h3 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style:oblique;
  font-size: 18pt;
  color: black;
}

.article-text h2 {
  font-size: 2em;
  margin: 0.5em 0;
}

.article-text p {
  margin: 0.5em 0;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
  font-size: 12pt;
  color: black;
}

.article-text .learn-more {
  color: #B3B9C0;
  font-size: 10;
  text-decoration: underline;
}

.article-image {
  flex: 1;
  max-width: 50%;
  filter: contrast(90%) grayscale(60%);
  transition: all .3s ease-in-out;
}

@media (max-width: 767px) {
  .article-image {
    filter: none; /* Remove sepia filter on mobile */
  }
}

.article:hover .article-image {
  filter: none; /* Normal on hover */
  transform: scale(1.02); /* Slightly enlarge the image on hover */
}


/* The main content should grow to fill the remaining space */
.main-content {
  flex: 1;
}

/* Ensure the footer is always at the bottom */
.footer {
  background-color: #9a9a9a;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: relative;
  bottom: 0;
  font-family: 'QuickSand';
}