@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{ 
  margin:0
}

html{
  /* background-image: url("media/ROM.jpg")!important; */
  background-color: #fff;
  background-size: cover; 
  width: auto; 
  height: 100%;                    /* <------ */
  background-repeat: no-repeat;
  background-position: center center; 
  /* -webkit-transition: all 200ms linear; */
  position: relative;
}

.main-section{
  position: absolute;
  width: 100%;
  height: 1200px;
  overflow-x: hidden;
  background-color: #fff;
}

.background {
  /* src: url(images/ROM_copy.jpg); */
  /* NEED TO EDIT IMAGE IN PHOTOSHOP TO GET THE RIGHT HEIGHT (EDIT PIXEL HEIGHT)!!! */
  margin: auto;
  position: absolute;
  top: -430px;
  left: 0;
  right: 0;
  width: 2500px;
  overflow: hidden;
  filter: contrast(90%) sepia(40%);
}

h1 {
  font-weight:normal;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 16px;
  font-family: 'Quicksand', sans-serif;
  color: #f1f2f8e1;
  font-size: 35px;
  position: fixed;
  left:0;
  right:0;
  top: 100px;;
}

h2{
  font-weight:normal;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 16px;
  font-family: 'Quicksand', sans-serif;
  color: #f1f2f8e1;
  font-size: 15px;
  position: fixed;
  left:0;
  right:0;
  top: 160px;
  
}

.p1{
  text-transform: capitalize;
  font-size: 25px;
  text-align: center;
}

.portfolio-container {
  margin: auto;
  position: absolute;
  top: 300px;
  left: 0;
  right: 26px;
  width: 640px;
  height: 800px;
  background-color: #fff;
  box-shadow: 12px 0 38px -4px rgba(142, 142, 142, 0.1), -12px 0 38px -4px rgba(142, 142, 142, 0.1);
}

.img-left {
  width: 230px;
  height: 320px;
  float: left;
  margin-left: 50px;
  margin-bottom: 50px;
  filter: contrast(90%) sepia(60%);
  transition: all .3s ease-in-out;
}

.img-left:hover{
  filter: none;
  width: 82%;
  height: 82%;
       -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.img-right{
  width: 230px;
  height: 320px;
  float: right;
  margin-bottom: 50px;
  margin-right: 50px;
  filter: contrast(90%) sepia(60%);
}

.img-right:hover{
  filter: none;
  width: 82%;
  height: 82%;
       -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  cursor: pointer;
}
