@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
/* Reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-weight: normal;
  font-style: normal;
  font-optical-sizing: auto;
}

body {
  min-height: 100vh;
  font-family: "Fustat", sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #000;
}

ul {
  list-style: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}


.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff; 
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #000;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


.navbar-hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.navbar-visible {
  transform: translateY(0);
  opacity: 1;
}

.navbar a.logo {
  display: flex;
  align-items: center;
}

.hamburger {
  font: inherit;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  height: 24px;
  width: 24px;
  transition: transform 140ms ease-in-out;
  cursor: pointer;
  position: absolute;
  right: 1rem;
}

.hamburger.active {
  transform: rotate(45deg);
}

.line {
  transition: transform 140ms ease-in-out;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #000;
  position: relative;
}

.line::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  transform: rotate(90deg);
}


.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 80px;
  right: 0;
  background-color: #fff;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(.4,0,.2,1);
  pointer-events: none;
  z-index: 10;
}

.dropdown.active {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 1.25rem;
  transform: translateY(20px);
  transition: transform 600ms cubic-bezier(.4,0,.2,1);
}

.dropdown-content.active {
  transform: translateY(0);
}

.dropdown-content li {
  transition: all 600ms cubic-bezier(.4,0,.2,1);
  cursor: pointer;
}

.dropdown-content li:hover {
  letter-spacing: 2px;
}

.dropdown-content li a {
  all: unset;
  cursor: pointer;
  height: fit-content;
}

.dropdown-content li a:visited {
  color: inherit;
}


.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.section p {
  font-size: 2.5rem;
}


.camera-icon {
  display: inline-block;
  width: 34px;
  height: 22px;
  position: relative;
  margin-left: 16px;
  transform: translateY(1px); 
  border: 1px solid #000; 
  border-radius: 2px;
}

.camera-icon::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 6px;
  border: 1px solid #000;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1px;
}

.camera-icon::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border: 1px solid #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}


@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
